.header {
  display: flex;
  align-items: center;
  padding: var(--alepweb-spacing-l) var(--alepweb-spacing-l);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: none;
}

.menu span {
  color: white;
  font-size: var(--alepweb-text-xl);
}

.header a.home img {
  height: 3.5rem;
  width: fit-content;
  border-radius: 100%;
  aspect-ratio: 1.1;
  box-shadow: 0px 0px 18px 2px transparent;
  transition: box-shadow .250s
}

.header a.home:hover img {
  box-shadow: 0px 0px 18px 2px var(--alepweb-dark-purple);
  transition: box-shadow .250s
}

.header a.home:hover span {
  text-decoration: underline;
}

.header ul {
  list-style: none;
  flex: 1;
  text-align: right;
}

.header li {
  display: inline-block;
}

.header li a {
  color: white;
  padding: 0 var(--alepweb-spacing-l);
  text-decoration: none;
  font-size: var(--alepweb-text-m);
}

.header li a:hover {
  color: var(--alepweb-dark-purple);
}

.header li:last-child a {
  padding-right: 0;
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .header ul {
    display: none;
  }

  .menu {
    display: flex;
  }
}
