/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@import 'variables.css';

body {
  padding: 0;
  margin: 0;
  color: var(--light-theme-text-color);
  font-family: Roboto;
  background-image: var(--light-theme-background-gradient);
}

a {
  text-decoration: none;
}

.main {
  height: 100vh;
  width: 100vw;
}
