.footer {
  color: white;
  display: flex;
  font-size: 0.8rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.spacer {
  padding: 0 15px;
}

.copyright {
  margin-top: 0.11rem;
}